<html lang="en" xmlns:th="http://thymeleaf.prg">
<head>
    <meta charset="utf-8">
    <title>Login page</title>
</head>
<body>
<form name="f" method="post" action="/process_login">
    <label for="username">Введите имя пользователя: </label>
    <input type="text" name="username" id="username"/>
    <br/>
    <br/>
    <label for="password">Введите пороль</label>
    <input type="password" name="password" id="password"/>
    <br/>
    <br/>
    <input type="submit" value="Login"/>
    <br/>
    <br/>
    <div th:if="${param.error}" style="color: #8c1111">
        Неправильные имя или пароль
    </div>
</form>
</body>
</html>